@{
    ViewBag.Title = "Informacje";
}<h1>@ViewBag.Title</h1>
<hr />
<div class="info-container">
    <div class="wide-info-card">
        <h2>Polityka prywatności</h2>
        <p>
            Administratorem Państwa danych osobowych jest Xenial Programmer sp. z o.o.
        </p>
        <p>
            Przetwarzamy dane osobowe w celu świadczenia usługi wysyłania e-maili.
        </p>
        <p>
            Używamy plików cookies do utrzymania sesji i zapamiętywania preferencji użytkownika.
        </p>
        <p>
            Mają Państwo prawo do dostępu, sprostowania i usunięcia swoich danych oraz wniesienia sprzeciwu wobec ich przetwarzania.
        </p>
        <p>
            Dane przechowujemy przez okres niezbędny do realizacji określonych celów, nie dłużej niż przewidują to przepisy prawa.
        </p>
        <p>
            Zastrzegamy prawo do wprowadzania zmian w polityce prywatności. O wszelkich zmianach będziemy informować na tej stronie.
        </p>
        <p>
            Kontakt w sprawach dotyczących danych osobowych: <a href="mailto:daneosobowe@email.pl" style="color: #ff9" ;>daneosobowe@email.pl</a>.
        </p>
        <p>Data aktualizacji: 15.05.2025
    </div>

    <div class="narrow-info-card">
        <h2>Działanie strony</h2>
        <p>
            Jeśli nie zostanie wpisany temat e-maila, zostanie on ustawiony automatycznie na "Nowa wiadomość".
        </p>
        <p>
            Jeśli wysyłanie e-maila się nie powiedzie, zostanie on przeniesiony do archiwum, gdzie po kliknięciu przycisku "Szczegóły" można spróbować wysłać go ponownie. Ponowna próba zostanie wykonana z adresu e-mail ustawionego w momencie ponownej próby wysłania.
        </p>
        <p>
            Aplikacja jest używana tylko w obrębie danej firmy - archiwum i ustawienia są wspólne dla wszystkich użytkowników.
        </p>
    </div>
</div>
